@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application has a list of Products and Categories.</p>
    <p>The solution has two microservices:</p>
    <ul class="list-group list-group-numbered">
        <li class="list-group-item">Products.API</li>
        <li class="list-group-item">Categories.API</li>
    </ul>
    <p>It also has a simple APIGateway built using <strong>Ocelot</strong>.</p>
</div>
